.wrap {
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 50px;
  background-color: #ba4949;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}

.timer {
  margin-top: 50px;
}
