.wrap {
  position: fixed;
  background-color: #333;
  padding: 20px 30px;
  padding-right: 45px;
  font-size: 18px;
  bottom: 20px;
  right: 20px;
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  transform: translateX(130%);
  transition: transform ease 0.4s;
}

@media (max-width: 767px) {
  .wrap {
    max-width: 200px;
  }
}

.btn {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}

.active {
  transform: translateX(0%);
}
